<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%if(status){%>
    <title>Success</title>
    <%}else{%>
    <title>Failed</title>
    <%}%>
</head>

<body>
    <%if(status){%>
    <div>Success tarnsaction</div>
    <%}else{%>
    <div>Failed tarnsaction</div>
    <%}%>
</body>


</html>